@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  scrollbar-color: #e8732d #d1cfcf;
}

/* @keyframes blur {
  to {
    box-shadow:
      0 5px 50px -5px #0000001a,
      0 0 0 1px #000000dc;
    background: #000000dc;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@keyframes removeBorder {
  0% {
    border-bottom: 1px solid;
  }
  100% {
    border: none;
  }
}

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@media (min-width: 991px) {
  #header-nav #headerBox {
    animation: removeBorder linear both;
    animation-timeline: scroll();
    animation-range: 0 10px;
  }
} */

@keyframes fullWidth {
  0% {
    width: 10px;
  }
  100% {
    width: 100%;
  }
}

.menuLink::after {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.menuLink:hover::after {
  animation-name: fullWidth;
}

/* ACTIVE CLASS FOR TABS */
.tab[data-state='active'] span {
  color: #e8732d;
  border-color: #e8732d;
}

.tab[data-state='active'] img {
  scale: 1.1;
}

@media (max-width: 991px) {
  .tab[data-state='active'] img {
    scale: 1.2;
  }
}
