@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat Variable', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}

@keyframes fullWidth {
  0% {
    width: 10px;
  }
  100% {
    width: 100%;
  }
}

.menuLink::after {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.menuLink:hover::after {
  animation-name: fullWidth;
}

.menuLink.active {
  color: #e8732d;
  font-weight: bold;
}

.menuLink.active::after {
  background-color: #e8732d;
}

/* ACTIVE CLASS FOR TABS */
.tab[data-state='active'] span {
  color: #fff;
  background-color: #e8732d;
  border-block: 1px solid #e8732d;
}

.tab[data-state='active'] img {
  scale: 1.1;
}

@media (max-width: 991px) {
  .tab[data-state='active'] img {
    scale: 1.2;
  }
}
